*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #43AFFC;
}

.wrapper{

  width: 400px;
  background: #fff;
  border-radius: 7px;
 
}

.wrapper header{
  display:flex;
  font-size: 20px;
  font-weight: 700;
  color: #43AFFC;
  padding:15px 40px 15px 15px;
  border-bottom: 1px solid #ccc;
}

.wrapper.active header i{
  margin-left: 5px;
  font-size: 30px;
}

header i{
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
}

/****************************Input Part************************/

.input-part{
margin: 20px 25px 30px;
}

.input-part input{
  height:50px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid #ccc;
  
}

.input-part input::placeholder{
  color: #bfbfbf;
}

.input-part .separator{
  height: 1px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
  background: #ccc;

}

.separator::before{
  content: "or";
  color: gray;
  font-size: 18px;
  background: #fff;
  padding: 0 15px;

}

.input-part button{
  color: #fff;
  height: 50px;
  width: 100%;
  font-size: 17px;
  background:  #43AFFC;
  border-radius: 4px;
 border: none;
}

.input-part button:hover{
  background: #1d9ffc;
}


/*********************Weather Part*****************************/


.wrapper .weather-part{
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper.active .weather-part{
  display: flex;
}

.weather-part img{
  max-width: 125px;
}

.weather-part .temp{
  display: flex;
  font-weight: 500;
  font-size: 60px;
}

.weather-part .weather{
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
}


.weather-part .location{
  display: flex;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 0;
  margin-bottom: 30px;
}

.weather-part .bottom-details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

.weather-part .column{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.column i{
  color: #5DBBFF;
  font-size: 40px;
  margin-right: 5px;
}

.column.humidity{
  border-left: 1px solid #ccc;
  }

.details .temp .deg{
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
  }

  .details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
   
  }

  .details p{
    font-size: 15px;
    padding-top: 5px;
  }